@font-face {
  font-family: "Roboto";
  src: url("./Roboto-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Italic-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}
